body {
    background-color: #45D552;
    margin: 0;
    overflow: hidden;
    font-family: arial;
}

#webGL {
    height: 100%;
    width: 100%;
    display: block;
}

.hidden {
    width: 100%;
    display: none !important;
    padding-bottom: 5px;
    padding-top: 5px;
}

html, body {
    width: 100%;
    height: 100%;
}

.toast-info {
    background-color: #085e93;
}

#toast-container > div {
    width: auto;
    padding: 15px 15px 15px 15px !important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.3;
    /*text-align: center;*/
    /*background: none;*/
}

#toast-container > .toast {
    background-image: none !important;
}

#crosshair-overlay {
    position: relative;
    background: none;
}

#-overlay {
    position: relative;
    background: none;
}

#crosshair {
    position: absolute;
    left: 50%;
    margin: 50vh -50vw 0 0;
    transform: translate(-32px, -32px);
}

.zoom {
    transform: translate(-32px, -32px) scale(1.8, 1.8) !important;
}

#health {
    position: absolute;
    width: 80px;
    bottom: 0;
    margin: 20px;
}

#ammo {
    position: absolute;
    width: 80px;
    right: 0;
    bottom: 0;
    margin: 20px;
}

#menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg.jpeg");
    background-size: cover;
    z-index: 10;
    text-align: center;
}

#menuContent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    min-width: 800px;
    width: 50%;
}

#title {
    color: #f9f9f9;
    font-size: 12em;
    font-family: "Arial Black", Gadget, sans-serif;
    margin-top: 0;
    margin-bottom: 150px;
}

#joinContent {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg.jpeg");
    background-size: cover;
    z-index: 10;
    text-align: center;
}

#joinGame {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    min-width: 620px;
    width: 50%;
    margin-left: 130px;
}

#joinGame button {
    width: 625px;
    font-size: 1em;
    font-weight: 700;
    display: block;
    margin: 20px 0;
    line-height: 23px;
    padding: 10px 15px;
    background: #fff;
    outline: none;
    border-radius: 0;
    border: 1px solid #ddd;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
}

#joinScore .player {
    width: 620px;
    margin-bottom: 7px;
    margin-left: 0;
}

#joinScore .playerStanding {
    width: 20px;
    text-align: center;
}

#joinScore .playerName {
    width: 400px;
    overflow: hidden;
}

#joinScore .playerKills, .playerDeaths {
    width: 50px;
    text-align: center;
}

#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
}

#instructions {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}

#startGame {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#startGame h1 {
    font-size: 8em;
    font-family: "Arial Black", sans-serif;
}

#startGame h2 {
    font-size: 2em;
    font-family: "Arial", Gadget, sans-serif;
}

input {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    line-height: 23px;
    padding: 10px 15px;
    background: #fff;
    outline: none;
    border-radius: 0;
    border: 1px solid #ddd;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 12pt;
    font-weight: 300;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
}

.shadow {
    box-shadow: 0 1px 0 #ccc,
    0 4px 0 #c9c9c9,
    0 6px 0 #bbb,
    0 8px 0 #b9b9b9,
    0 10px 0 #aaa,
    0 12px 2px rgba(0, 0, 0, .1),
    0 0 10px rgba(0, 0, 0, .1),
    0 2px 6px rgba(0, 0, 0, .3),
    0 6px 10px rgba(0, 0, 0, .2),
    0 10px 20px rgba(0, 0, 0, .25),
    0 20px 20px rgba(0, 0, 0, .2),
    0 40px 40px rgba(0, 0, 0, .15);
}

.shadowText {
    text-shadow: 0 1px 0 #ccc,
    0 4px 0 #c9c9c9,
    0 6px 0 #bbb,
    0 8px 0 #b9b9b9,
    0 10px 0 #aaa,
    0 12px 2px rgba(0, 0, 0, .1),
    0 0 10px rgba(0, 0, 0, .1),
    0 2px 6px rgba(0, 0, 0, .3),
    0 6px 10px rgba(0, 0, 0, .2),
    0 10px 20px rgba(0, 0, 0, .25),
    0 20px 20px rgba(0, 0, 0, .2),
    0 40px 40px rgba(0, 0, 0, .15);
}

#instructions input {
    margin-top: 10px;
    margin-bottom: 6em;
    margin-right: 0;
}

#instructions #newPlayer #txtName {
    width: 250px;
}

input[type=button] {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

#inputWrapper {
    display: inline-block;
}

.hasError {
    outline: 3px #ff0000 solid;
    outline-offset: -3px;
}

#help {
    display: block;
    color: white;
    font-size: 1.2em;
    text-align: left;
}

#ammo > canvas, #health > canvas {
    position: absolute;
}

.centerCount {
    text-align: center;
    vertical-align: middle;
    color: white;
}

#score-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.6);
}

#score-players {
    position: absolute;
    height: auto;
    width: 60vw;
    margin: auto 20vw;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.player > span {
    display: inline-block;
    color: white;
    vertical-align: middle;
}

.playerHead {
    border-left: #1f1f1f solid 5px;
}

.team {
    border-left: #ffffff solid 5px;
}

.team1 {
    border-left: rgb(6, 144, 230) solid 5px;
}

.team2 {
    border-left: rgb(255, 102, 58) solid 5px;
}

.team3 {
    border-left: rgb(106, 230, 71) solid 5px;
}

.team4 {
    border-left: rgb(230, 23, 60) solid 5px;
}

.player {
    width: 50vw;
    margin: 8px 5vw;
    background-color: #1f1f1f;
    opacity: 0.8;
    font-size: 2em;
}

.me {
    background-color: #404040 !important;
}

.playerStanding {
    width: 6vw;
    text-align: center;
}

.playerName {
    width: 30vw;
    overflow: hidden;
}

.playerKills, .playerDeaths {
    width: 6vw;
    text-align: center;
}
